<footer>
    <div class="content-padding">
        <div class="footer-content">

            <p>Copyright &copy; Andre Daniel Michael</p>

            <div class="social-media-icons">
                <a><i class="fa fa-instagram"></i></a>
                <a><i class="fa fa-code"></i></a>
            </div>

        </div>
    </div>
</footer>